Source: nghdl
Section: electronics
Priority: optional
Maintainer: Sumanto Kar <sumantokar@iitb.ac.in>
Build-Depends: debhelper-compat (= 13),
               make,
               gnat,
               llvm-dev,
               clang,
               zlib1g-dev,
               libcanberra-gtk-module,
               libcanberra-gtk3-module,
               libxaw7-dev,
               autoconf,
               g++,
               flex,
               bison
Standards-Version: 4.6.2
Homepage: https://esim.fossee.in

Package: nghdl
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NGHDL Simulator (Ngspice + GHDL + Verilator)
 NGHDL integrates Ngspice (with XSPICE), GHDL and Verilator for mixed-signal
 and digital simulation, primarily used with eSim.
